In [1]:
print("hello")

hello

# Introdução a Inteligência Artificial (LC/UFRPE)
## Aula: Introdução ao 'pandas'
Esta página apresenta alguns comandos básicos para leitura de arquivos usando o pandas

### Lendo dados de um arquivo csv

In [2]:
import pandas as pd
df = pd.read_csv('teste.csv', sep=',', encoding='latin1')

### Imprimindo na tela a tabela lida

In [3]:
print(df)

   teste1  teste2
0       1      45
1       2      43
2       3      45

### Acessando uma coluna específica

In [34]:
df['teste2']

0    45
1    43
2    45
Name: teste2, dtype: int64

# Scikit-learn: sample datasets

In [13]:
from sklearn.datasets import load_iris
import pandas as pd

In [ ]:
iris = load_iris()
iris.DESCR

In [29]:
list(iris.target_names)

['setosa', 'versicolor', 'virginica']

In [30]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [31]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])